/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
* {
    box-sizing: border-box;
}

main {
    display: block;
}

#error_explanation {
    color: #FF0000;
}

#notice {
    color: #008000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.field {
    margin-bottom: 10px;
}

div .actions {
    margin-bottom: 10px;
}

.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
}

.btn-primary {
    background-color: #007dff;
    border-color: #007bff;
    color: #fff;
}

.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    transition: none;
}